# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
ENV/
.env
.venv/

# Jupyter/IPython
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Test output
htmlcov/
.coverage

# Misc
*.swp
*.bak
*.tmp 